SHELL=/bin/ash
# Generate stills every minute
* * * * * $HOME/app/timelapse.sh -S

# Append new stills to the timelapse video every half hour
*/30 * * * * $HOME/app/timelapse.sh -r

# Generate a new fast timelapse 5 minutes after each timelapse update
5 * * * * $HOME/app/timelapse.sh -f
35 * * * * $HOME/app/timelapse.sh -f
