SHELL=/bin/ash
# Generate stills every minute
* * * * * $HOME/app/timelapse.sh -S

# Append new stills to the timelapse video every half hour
*/30 * * * * $HOME/app/timelapse.sh -r

# Generate a new fast timelapse 10 minutes after each timelapse update
10 * * * * $HOME/app/timelapse.sh -f
40 * * * * $HOME/app/timelapse.sh -f
